@import "./DropDownMixin";

.zad-dropdown {
  display: inline-block;
  user-select: none;

  &-items {
    .drop-down-items-wrap();
    margin-top: 8px;
  }

  &-item {
    .drop-down-item();
  }

  &-sub {
    position: relative;

    &-title {
      .drop-down-item();
    }

    &-wrap {
      position: absolute;
      top: 0;
      left: 100%;
      padding-left: 4px;
      height: 100%;
    }

    &-items {
      .drop-down-items-wrap();
    }
  }
}
