@import "../../style/variables";
@import "../../style/mixins/index";

@checkbox-class: zad-checkbox;
@checkbox-group-class: ~"@{checkbox-class}-group";

.@{checkbox-class} {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: text-bottom; // 保证假的checkbox与name在同一水平线上

  &-wrapper {
    cursor: pointer;
    font-size: @font-size-sm;
    display: inline-block;

    &:hover {
      .@{checkbox-class}-mock {
        border-color: @primary-color;
      }
    }

    &-disabled {
      cursor: not-allowed;
      .@{checkbox-class}-name {
        color: @disabled-color;
      }

      .@{checkbox-class}-mock {
        border-color: @border-color-base !important; // 边框色
        background-color: lighten(@border-color-base, 10%) !important; // 背景色

        &:after {
          animation-name: none;
          border-color: @disabled-color; // 对应的对勾或横杠颜色
        }
      }
    }
  }

  &-input:focus + &-mock {
    border-color: @primary-color;
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }

  // 假的checkbox
  &-mock {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-sm;
    background-color: #fff;
    transition: all .3s;
    z-index: 2;

    // 创建一个block，利用border画出线条
    &:after {
      transform: skew(-15deg) rotate(45deg) scale(0);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 5px;
      height: 8px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      content: ' ';
      transition: all .1s @ease-in-back;
    }
  }

  &-name {
    padding-left: 8px;
    padding-right: 8px;
  }

  &-indeterminate {
    .@{checkbox-class}-mock:after {
      transform: scale(1);
      left: 2px;
      top: 5px;
      width: 8px;
      height: 1px;
      transition: all .2s @ease-out-back .1s;
    }
  }

  &-checked {
    .@{checkbox-class}-mock:after {
      transform: skew(-15deg) rotate(45deg) scale(1);
      transition: all .2s @ease-out-back .1s;
    }
  }

  &-indeterminate, &-checked {
    .@{checkbox-class}-mock {
      background-color: @primary-color;
      border-color: @primary-color;
    }
  }
}

.@{checkbox-group-class} {
  font-size: @font-size-sm;

  &-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
